.container1 {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 65%;
  left: 50%;
  
}

ul{
  list-style-type: none;
  overflow: hidden;
  background-color: blueviolet;
}
li{
  float: left;
  padding-left: 10px;
}

li a:hover:not(.active){
  background-color: brown;
}
.active{
  background-color: chocolate;
}